main {
    background-color: lightgray;
    height: calc(100vh - 122px);
}

.card {
    height: 100px;
}

.animal {
    color: lightseagreen;
}

.vegetable {
    color: goldenrod;
}

.user {
    color: violet;
}